.sider
    .inner-menu 
        ul 
            li 
                a(href=`/`) Home
            li 
                a(href=`${prefixAdmin}/dashboard`) Tổng quan
            li
                a(href=`${prefixAdmin}/products`) DS Sản phẩm
            li
                a(href=`${prefixAdmin}/deleteProducts`) SP đã xóa
            li
                a(href=`${prefixAdmin}/products-category`) DM Sản phẩm